In [1]:
# установка пакета surprise
# pip install surprise

In [2]:
# Загрузка библиотек необходимых для работы
from surprise import KNNWithMeans, KNNBasic, KNNWithZScore,SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

import pandas as pd

In [3]:
# Загрузка данных
movies = pd.read_csv('/Users/irinanikulina/Documents/ML/RecommendationSystems/movies.csv')
ratings = pd.read_csv('/Users/irinanikulina/Documents/ML/RecommendationSystems/ratings.csv')

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
# Создание нового датафрейма для работы
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [7]:
movies_with_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [8]:
movies_with_ratings[movies_with_ratings.userId == 20.0].title.unique()

array(['Jumanji (1995)', 'Tom and Huck (1995)', 'Balto (1995)',
       'Babe (1995)', 'Pocahontas (1995)',
       'Muppet Treasure Island (1996)', 'Casper (1995)',
       'Goofy Movie, A (1995)', 'Little Princess, A (1995)',
       'Santa Clause, The (1994)', 'Jungle Book, The (1994)',
       'Lion King, The (1994)', 'Secret Garden, The (1993)',
       'Nightmare Before Christmas, The (1993)', 'Home Alone (1990)',
       'Aladdin (1992)', 'Snow White and the Seven Dwarfs (1937)',
       'Beauty and the Beast (1991)', 'Pinocchio (1940)',
       'James and the Giant Peach (1996)', 'Oliver & Company (1988)',
       'Wallace & Gromit: The Best of Aardman Animation (1996)',
       'Hunchback of Notre Dame, The (1996)', 'Harriet the Spy (1996)',
       'Matilda (1996)', "Singin' in the Rain (1952)",
       'My Fair Lady (1964)', 'Wizard of Oz, The (1939)',
       'Fly Away Home (1996)', 'Love Bug, The (1969)',
       'Old Yeller (1957)', 'Parent Trap, The (1961)',
       'Homeward Bound: The Incredible Journey (1993)',
       'That Darn Cat! (1965)', 'Angels in the Outfield (1994)',
       'Cinderella (1950)', 'Sword in the Stone, The (1963)',
       'Mary Poppins (1964)', 'Dumbo (1941)', "Pete's Dragon (1977)",
       'Bedknobs and Broomsticks (1971)', 'Alice in Wonderland (1951)',
       'Sound of Music, The (1965)',
       'Willy Wonka & the Chocolate Factory (1971)',
       'Dirty Dancing (1987)', 'E.T. the Extra-Terrestrial (1982)',
       'Wallace & Gromit: The Wrong Trousers (1993)', 'Fantasia (1940)',
       'Birds, The (1963)', '101 Dalmatians (1996)', 'Grease (1978)',
       "Cats Don't Dance (1997)", 'Shiloh (1997)', 'Hercules (1997)',
       'Anastasia (1997)', 'Tomorrow Never Dies (1997)',
       'Borrowers, The (1997)', 'Deep Impact (1998)', 'Mulan (1998)',
       'Madeline (1998)', 'West Side Story (1961)', 'Goonies, The (1985)',
       'Mask of Zorro, The (1998)', 'Bambi (1942)',
       'Black Cauldron, The (1985)', 'Great Mouse Detective, The (1986)',
       'Honey, I Shrunk the Kids (1989)', 'Parent Trap, The (1998)',
       'Jungle Book, The (1967)', 'Lady and the Tramp (1955)',
       'Little Mermaid, The (1989)', 'Muppet Christmas Carol, The (1992)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       'Peter Pan (1953)', 'Rescuers Down Under, The (1990)',
       'Rescuers, The (1977)', 'Return of Jafar, The (1994)',
       'Sleeping Beauty (1959)', 'Splash (1984)',
       'Lord of the Rings, The (1978)', 'Doctor Dolittle (1967)',
       "Charlotte's Web (1973)", 'Dark Crystal, The (1982)',
       'American Tail, An (1986)', 'NeverEnding Story, The (1984)',
       'Blade (1998)', 'Antz (1998)', 'Producers, The (1968)',
       "Bug's Life, A (1998)", 'Prince of Egypt, The (1998)',
       'Mighty Joe Young (1949)', 'King and I, The (1956)',
       'Mummy, The (1999)', 'Rocky Horror Picture Show, The (1975)',
       'Tarzan (1999)', 'South Park: Bigger, Longer and Uncut (1999)',
       'Wild Wild West (1999)', 'Muppets From Space (1999)',
       'Little Shop of Horrors (1986)', 'Iron Giant, The (1999)',
       'Bowfinger (1999)', 'Christmas Story, A (1983)',
       'Yellow Submarine (1968)', 'South Pacific (1958)',
       'Who Framed Roger Rabbit? (1988)', 'Robin Hood (1973)',
       'Toy Story 2 (1999)', 'Stuart Little (1999)',
       'Fantasia 2000 (1999)', 'My Dog Skip (1999)', 'Pitch Black (2000)',
       'Whole Nine Yards, The (2000)', 'Muppet Movie, The (1979)',
       'Great Muppet Caper, The (1981)',
       'Muppets Take Manhattan, The (1984)', 'Erin Brockovich (2000)',
       'Soft Fruit (1999)', 'Teenage Mutant Ninja Turtles (1990)',
       'Road to El Dorado, The (2000)', 'Frequency (2000)',
       'Return to Me (2000)', 'American Psycho (2000)',
       'Keeping the Faith (2000)', 'Guys and Dolls (1955)',
       'U-571 (2000)', 'Where the Heart Is (2000)', 'Gladiator (2000)',
       'Dinosaur (2000)', 'Mission: Impossible II (2000)',
       'Shanghai Noon (2000)', 'Shaft (2000)', 'Chicken Run (2000)',
       'Patriot, The (2000)', 'Perfect Storm, The (2000)',
       'Kid, The (2000)', 'X-Men (2000)', 'Tao of Steve, The (2000)',
       'Bring It On (2000)', 'Almost Famous (2000)',
       'Meet the Parents (2000)', 'Billy Elliot (2000)',
       'Legend of Drunken Master, The (Jui kuen II) (1994)',
       "Charlie's Angels (2000)", '6th Day, The (2000)',
       'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)',
       'Rugrats in Paris: The Movie (2000)', 'Unbreakable (2000)',
       'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
       'Vertical Limit (2000)', 'Chocolat (2000)',
       "Emperor's New Groove, The (2000)", 'Finding Forrester (2000)',
       'Cast Away (2000)', 'Miss Congeniality (2000)',
       'O Brother, Where Art Thou? (2000)', 'State and Main (2000)',
       'Annie (1982)', 'Save the Last Dance (2001)',
       'Brave Little Toaster, The (1987)', "Recess: School's Out (2001)",
       'Mexican, The (2001)', 'Memento (2000)', 'Spy Kids (2001)',
       "Bridget Jones's Diary (2001)", 'Mummy Returns, The (2001)',
       "Knight's Tale, A (2001)", 'Shrek (2001)', 'Moulin Rouge (2001)',
       'Pearl Harbor (2001)', 'Swordfish (2001)',
       'Atlantis: The Lost Empire (2001)',
       'Lara Croft: Tomb Raider (2001)',
       'Fast and the Furious, The (2001)',
       'A.I. Artificial Intelligence (2001)', 'Sexy Beast (2000)',
       'Final Fantasy: The Spirits Within (2001)',
       'Legally Blonde (2001)', 'Adanggaman (2000)',
       'Land Before Time, The (1988)', 'Jurassic Park III (2001)',
       'Ghost World (2001)', 'Planet of the Apes (2001)',
       'Princess Diaries, The (2001)', 'American Pie 2 (2001)',
       'Others, The (2001)', 'Jay and Silent Bob Strike Back (2001)',
       'Training Day (2001)',
       "Endurance: Shackleton's Legendary Antarctic Expedition, The (2000)",
       'Zoolander (2001)', 'Joy Ride (2001)',
       'Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma Lau) (1993)',
       'Mulholland Drive (2001)', 'From Hell (2001)',
       'Monsters, Inc. (2001)',
       "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
       'Spy Game (2001)', 'Royal Tenenbaums, The (2001)',
       'Jimmy Neutron: Boy Genius (2001)',
       'Lord of the Rings: The Fellowship of the Ring, The (2001)',
       'Beautiful Mind, A (2001)', 'Gosford Park (2001)',
       'I Am Sam (2001)', "Monster's Ball (2001)", 'Sandlot, The (1993)',
       'Super Troopers (2001)', 'Time Machine, The (2002)',
       'Ice Age (2002)', 'Blade II (2002)', 'Changing Lanes (2002)',
       'My Big Fat Greek Wedding (2002)', 'The Scorpion King (2002)',
       'Spider-Man (2002)', 'Unfaithful (2002)',
       'Star Wars: Episode II - Attack of the Clones (2002)',
       'Insomnia (2002)', 'Bourne Identity, The (2002)',
       'Scooby-Doo (2002)', 'Minority Report (2002)',
       'Reign of Fire (2002)', 'Austin Powers in Goldmember (2002)',
       'Signs (2002)', 'Spy Kids 2: The Island of Lost Dreams (2002)',
       'xXx (2002)',
       'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
       'Red Dragon (2002)', 'Ring, The (2002)',
       'Saturday Night Fever (1977)', 'Jackass: The Movie (2002)',
       'Harry Potter and the Chamber of Secrets (2002)',
       'Lord of the Rings: The Two Towers, The (2002)',
       'Catch Me If You Can (2002)', 'Chicago (2002)',
       'Trail of the Pink Panther (1982)', 'Shanghai Knights (2003)',
       'Daredevil (2003)', 'Dennis the Menace (1993)',
       'Black Stallion, The (1979)', 'Holes (2003)',
       'X2: X-Men United (2003)', 'Chorus Line, A (1985)',
       'Kiss Me Kate (1953)', 'Matrix Reloaded, The (2003)'], dtype=object)

In [9]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [10]:
dataset.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     4.0
1   5.0  Toy Story (1995)     4.0
2   7.0  Toy Story (1995)     4.5
3  15.0  Toy Story (1995)     2.5
4  17.0  Toy Story (1995)     4.5

In [11]:
# Определение граничных значений рейтинга
dataset.rating.min()

0.5

In [12]:
ratings.rating.max()

5.0

In [13]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [14]:
# Разбиение данных на тренировочную и тестовую выборки
trainset, testset = train_test_split(data, test_size=.1)

In [15]:
# Использование алгоритма KNNWithMeans
# algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo = SVD(n_factors=46, n_epochs = 20)
algo.fit(trainset)

In [16]:
test_pred = algo.test(testset)

In [17]:
# Кросс-валидация на 5 фолдах с определением RMSE, MAE
scores = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8691  0.8700  0.8731  0.8688  0.8681  0.8698  0.0018
MAE (testset)     0.6675  0.6714  0.6672  0.6677  0.6670  0.6681  0.0016
Fit time          2.56    2.43    2.46    2.46    2.45    2.47    0.05
Test time         0.07    0.07    0.07    0.07    0.11    0.08    0.02

In [18]:
# Определение точности работы алгоритма только по тестовой выборке
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8691

0.8690815834209011

In [19]:
algo.predict(uid=20, iid='Shawshank Redemption, The (1994)')

Prediction(uid=20, iid='Shawshank Redemption, The (1994)', r_ui=None, est=4.741059898273398, details={'was_impossible': False})

In [20]:
# algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': False})
algo = SVD(n_factors=46, n_epochs = 20)
algo.fit(trainset)

In [21]:
test_pred = algo.test(testset)

In [22]:
scores = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8796  0.8688  0.8729  0.8627  0.8758  0.8720  0.0058
MAE (testset)     0.6743  0.6667  0.6678  0.6663  0.6706  0.6692  0.0030
Fit time          2.53    2.54    2.62    2.58    2.54    2.56    0.04
Test time         0.07    0.13    0.13    0.07    0.07    0.09    0.03

In [23]:
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8695

0.8694781942746264

In [24]:
new_pred = algo.predict(uid=20, iid='Shawshank Redemption, The (1994)')
new_pred

Prediction(uid=20, iid='Shawshank Redemption, The (1994)', r_ui=None, est=4.705022213028888, details={'was_impossible': False})